@page "/crearLibroConComponente"
@using Models
@inject HttpClient Http

<h1>Crear Libro con Componente</h1>

<FormularioLibro libro=libro listaAutor=listaAutores informacionLibro=obtenerInfoLibro/>

<p>@libroInfo.Titulo</p>


@code {
    public LibroVM libro= new LibroVM
        {
            Id=0,
            Fecha = DateTime.Now,
            Autor =new AutorVM()
        };
    public List<AutorVM> listaAutores = new List<AutorVM>();

    protected override async Task OnInitializedAsync()
    {
        listaAutores = await Http.GetFromJsonAsync<List<AutorVM>>("api/Servicio/obtenerAutores");
    }

    //Obtener informacion componente hijo

    public LibroVM libroInfo = new LibroVM();

    public void obtenerInfoLibro(LibroVM libro)
    {
        libroInfo = libro;
    }
}
