@page "/EditarLibro/{id}"

@using Models
@inject HttpClient Http

<h3>EditarLibroConComponente</h3>

<FormularioLibro libro=libro listaAutor=listaAutores/>

@code {
    [Parameter]
    public string id { get; set; }

    public LibroVM libro = new LibroVM();
    public List<AutorVM> listaAutores = new List<AutorVM>();

    protected override async Task OnInitializedAsync()
    {
        listaAutores = await Http.GetFromJsonAsync<List<AutorVM>>("api/Servicio/obtenerAutores");
        List<LibroVM> listaLibros = new List<LibroVM>();
        listaLibros = await Http.GetFromJsonAsync<List<LibroVM>>("api/Servicio/obtenerLibros");
        for(int i =0; i<listaLibros.Count(); i++)
        {
            if (listaLibros[i].Id == Int32.Parse(id))
            {
                libro = listaLibros[i];
                libro.IdAutor = libro.Autor.Id;
            }
        }
    }
}
